html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  /* iOS velocity scrolling */
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  /* background-color: #1a1a1d; */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.joinInnerContainer {
  width: 40%;
}

.joinInput {
  border: 0;
  /* display: block; */
  text-align: center;
  border-radius: 40px;
  padding: 15px 20px;
  width: 70%;
  box-shadow: #fff 3px 3px 0;
  transition: 0.25s;
}

.joinInput:focus {
  width: 100%;
}

.heading1 {
  color: white;
  font-size: 3em;
}

.heading-major {
  color: white;
  font-size: 4em;
  background: url(../../assets/glados-text.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading2 {
  color: white;
  font-size: 2em;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(10, 70, 255, 0.8);
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  box-shadow: #0000ff 4px 4px 0;
  transition: background 0.1s linear;
  margin-bottom: 20px;
}

.button:hover {
  background: rgba(10, 70, 255, 1);
}

.mt-20 {
  margin-top: 20px;
}

@media all and (max-width: 768px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
